.menu, .sub-menu {
  list-style-type: none;
  margin:0;
  padding:0;
  li {
    padding:0;
    margin:0;
  }
}


.menu--sitenav {
  font-size: 2rem;
  line-height: 2;
  @media #{$medium} {
    float:right;
    font-size: 1.125rem;
    line-height: 4;
  }
  li {

    display: block;

    > a {
      display: block;
      padding:0 1.5rem;
      color:$body-font-color;
      &:hover, &:focus {
        background-color: $anchor-font-color-hover;
        color:$white;
      }
    }

    &.active {
      > a {
        background-color: $anchor-font-color;
        color:$white;
      }
    }

    @media #{$medium} {
      float:left;

    }
  }
}

.menu--footernav {
  font-size: 1.125rem;
  li {
    padding: 0 0 .5rem 0;
    > a {
      display: block;
      color:$primary-color;
      &:hover, &:focus {
        color:$smoke;
      }

    }
  }
}

.sidebarnav {
  //border-right: 1px solid $gainsboro;
  margin-bottom: 2rem;
  padding-top: 2.5rem;
  h3 {
    font-size: .875rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }
}

.menu--sidebar {
  font-size: .875rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  @media #{$medium} {
    font-size: .75rem;
  }

  > li {
    padding:0 0 .75rem;
    margin-bottom: .75rem;
    &:not(:last-of-type) {
      //border-bottom: 1px solid $gainsboro;
    }
  }

  li {
    > a {
      //color:$body-font-color;
    }
  }
}


.menu--sidebar .sub-menu {
  font-size: .875rem;
  line-height: 1.2;
  text-transform: none;
  font-weight: 300;
  margin-top: .75rem;
  @media #{$medium} {
    font-size: .75rem;
  }
  > li {
    padding:0 0 .5rem 0;
    &.active {
      font-weight: 600;
    }
  }
}

.menu--tocblock {
  margin-bottom: 1rem;
  //font-size: 1.125rem;
  font-weight: $font-weight-bold;
  line-height: 1.4;
  > li {
    padding:0 0 .875rem 0;
    > a {
    }
  }
}
