.sitefooter {
  color:$aluminum;
  background-color: $black;

  a {
    color:$smoke;
    &:hover, &:focus {
      color:$primary-color;
    }
  }
  b, strong {
    //font-weight: 700;
  }
}
.sitefooter__fat {
  padding:2.5rem 0;
  background-color: $oil;
}

.sitefooter__narrow {
  font-size: .875rem;
  padding:1rem 0;
  background-color: $black;
  .copy {
    @media #{$medium} {
      text-align: right;
    }
  }
}