body, html {
  font-size: 90%;
  @media #{$large} {
    font-size: 100%;
  }

  @media #{$xxlarge} {
    font-size: 110%;
  }
}

.row.container {
  @media #{$large} {
    padding:0 5%;
  }
  @media #{$xlarge} {
    padding:0 7%;
  }
}
.row.row--fullwidth {
  @media #{$large} {
    max-width: none;
  }
}


.ps {
  position: relative;
  padding:4rem 0;
  background-color: $white;
}

.ps--nopad {
  padding:0
}

.ps--light {
  background-color: $white-smoke;
}
.ps--inverse {
  color:$white;
  background-color: $black;
  h1,h2,h3,h4,h5,h6 {
    color:inherit;
  }
}

.home__vag {
  background-image: url('../images/hero-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
  background-attachment: fixed;
  padding:6rem 0;
}


.page-template-template-accordion {
  .sidebar {
    padding-top: 2rem;
  }
  .content {
    padding-top: 2rem;
    padding-bottom: 8rem;
    @media #{$large} {
      border-left:1px solid $smoke;
    }
  }
}


.content {
  h2 {
    border-bottom: 1px solid currentColor;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}